  
    <%= form_with model: @persona, data: { turbo: false }, class:'w-100 row g-3' do |f|  %>
        <%= render 'flash/mess' %>  
        
        <%= f.hidden_field :tipopersona_id %>
        <%= f.hidden_field :red_id %> 

        <%= f.fields_for :externo do |fext| %> 
            <div class="row">
            <div class="col-md-4">
                <%= fext.label :cvu, "Número de registro de CVU:", class:"form-label fw-bold" %>
                <%= fext.text_field :cvu, class:"form-control", style: "background-color: #e6e6e6;" %>
            </div> 
            </div>  
        <% end %>
        <div class="col-md-4">
            <%= f.label :nombre, "Nombre:", class:"form-label fw-bold" %>
            <%= f.text_field :nombre, class:"form-control" %>
        </div>
        <div class="col-md-4">
            <%= f.label :apaterno, "A. Paterno:", class:"form-label fw-bold" %>
            <%= f.text_field :apaterno, class:"form-control" %>
        </div>
        
        <div class="col-md-4">
            <%= f.label :amaterno, "A. Materno:", class:"form-label fw-bold" %>
            <%= f.text_field :amaterno, class:"form-control" %>
        </div>

        <%= f.fields_for :externo do |fext| %>  
            <%= fext.fields_for :estancias do |fest| %> 
                    <%= fest.hidden_field :responsable %>
                    <%= fest.hidden_field :tipoestancia_id %>
                    <%= fest.hidden_field :estado, value:'R' %>

                    <div class="col-md-8">
                        <%= fest.label :titulo, "Título del proyecto:", class:"form-label fw-bold" %>
                        <%= fest.text_field :titulo, class:"form-control" %>
                    </div>
                    <div class="col-md-2">
                            <%= fest.label :finicio, "Fecha de inicio:", class:"form-label fw-bold" %>
                            <%= fest.date_field :finicio, class:"form-control" %>
                    </div> 
                    <div class="col-md-2">
                            <%= fest.label :ftermino, "Fecha de termino:", class:"form-label fw-bold" %>
                            <%= fest.date_field :ftermino, class:"form-control" %>
                    </div> 
                    <div class="col-md-8">
                            <%= fest.label :tematica, "Temática:", class:"form-label fw-bold" %>
                            <%= fest.text_field :tematica, class:"form-control" %>
                    </div> 
                    <div class="col-md-4">
                            <%= fest.label :modalidad_id, "Modalidad:", class:"form-label fw-bold" %>
                            <%= fest.select :modalidad_id, options_for_select(Modalidad.all.map { |item| [item.nommodal, item.id] }, fest.object.modalidad_id), {}, { class: 'form-control' } %>
                    </div> 
                    
                    <div class="col-md-4">
                            <%= fest.label :convenio_c, "Convenio de asignación de beca:", class:"form-label fw-bold" %>
                            <%= fest.file_field :convenio_c, class:"form-control" %>
                            <div class="ms-2">
                                 <% if  fest.object.convenio_c.attached?  %> 
                                        <%= link_to fest.object.convenio_c.filename, rails_blob_path( fest.object.convenio_c, disposition: "attachment") %>  
                                 <% end %>
                            </div>
                    </div> 
                    <div class="col-md-4">
                            <%= fest.label :anexo_c, "Anexo 1:", class:"form-label fw-bold" %>
                            <%= fest.file_field :anexo_c, class:"form-control" %>
                            <div class="ms-2">
                                 <% if  fest.object.anexo_c.attached?  %> 
                                        <%= link_to fest.object.anexo_c.filename, rails_blob_path( fest.object.anexo_c, disposition: "attachment") %>  
                                 <% end %>
                            </div>
                    </div>   
                    
                    <div class="col-md-4">
                            <%= fest.label :convenio_i, "Convenio de confidencialidad:", class:"form-label fw-bold" %>
                            <%= fest.file_field :convenio_i, class:"form-control" %>
                            <div class="ms-2">
                                 <% if  fest.object.convenio_i.attached?  %> 
                                        <%= link_to fest.object.convenio_i.filename, rails_blob_path( fest.object.convenio_i, disposition: "attachment") %>  
                                 <% end %>
                            </div>
                    </div> 
                    <div class="col-md-4">
                            <%= fest.label :proyecto_c, "Proyecto presentado ante la SECIHTI:", class:"form-label fw-bold" %>
                            <%= fest.file_field :proyecto_c, class:"form-control" %>
                            <div class="ms-2">
                                 <% if  fest.object.proyecto_c.attached?  %> 
                                        <%= link_to fest.object.proyecto_c.filename, rails_blob_path( fest.object.proyecto_c, disposition: "attachment") %>  
                                 <% end %>
                            </div>
                    </div> 

                    <div class="col-md-8">
                            <%= fest.label :notas, "Notas:", class:"form-label fw-bold" %>
                            <%= fest.text_area :notas, class:"form-control" %>
                    </div> 

                <% end %>  
        <% end %>

        <div class="row mt-5">
          <div class="col text-end">
                <%= link_to estancias_path, class:"btn btn-secondary" do %> 
                    Cancelar
                <% end %>
          </div>    

          <div class="col text-start">
             <div class="ms-2">
                  <%= f.submit "Actualizar", data: { turbo_frame: "pages_item" }, class:"btn btn-primary"  %> 
             </div>
          </div>
    </div> 
    <% end %>