<%= render 'flash/mess' %> 
 
<div class="row p-3">
    <div class="col-4">
       <div class="fw-bold">Número de CVU:</div>
       <div class="ms-2"><%= @estancia.externo.cvu  %></div>
    </div>   

    <div class="col-4">
       <div class="fw-bold">Nombre:</div>
       <div class="ms-2"><%= nombre_com @estancia.externo.persona %></div>
    </div>  

    <div class="col-4">
       <div class="fw-bold">Título del proyecto:</div>
       <div class="ms-2"><%= @estancia.titulo %></div>
    </div>  
</div>

<div class="row p-3">
    <div class="col-4">
       <div class="fw-bold">Fecha de inicio:</div>
       <div class="ms-2"><%= @estancia.finicio.strftime("%d-%m-%Y") %></div>
    </div> 

    <div class="col-4">
       <div class="fw-bold">Fecha de termino:</div>
       <div class="ms-2"><%= @estancia.ftermino.strftime("%d-%m-%Y") %></div>
    </div> 

    <div class="col-4">
       <div class="fw-bold">Temática:</div>
       <div class="ms-2"><%= @estancia.tematica %></div>
    </div>
</div>

<div class="row p-3">
    <div class="col-4">
       <div class="fw-bold">Modalidad:</div>
       <div class="ms-2"><%= @estancia.modalidad.nommodal %></div>
    </div>

    
    <div class="col-4">
       <div class="fw-bold">Convenio de asignación de beca:</div>
       <div class="ms-2">
           <% if  @estancia.convenio_c.attached?  %> 
                <%= link_to "Ver archivo", rails_blob_path( @estancia.convenio_c, disposition: "attachment") %>  
           <% end %>
       </div>
    </div>

    <div class="col-4">
       <div class="fw-bold">Anexo 1:</div>
       <div class="ms-2">
         <% if  @estancia.anexo_c.attached?  %> 
                <%= link_to "Ver archivo", rails_blob_path( @estancia.anexo_c, disposition: "attachment") %>  
         <% end %>
       </div>
    </div>

</div>    

<div class="row p-3">
    <div class="col-4">
       <div class="fw-bold">Convenio de confidencialidad:</div>
       <div class="ms-2">
         <% if  @estancia.convenio_i.attached?  %> 
                <%= link_to "Ver archivo", rails_blob_path( @estancia.convenio_i, disposition: "attachment") %>  
         <% end %>
       </div>
    </div>

    <div class="col-4">
       <div class="fw-bold">Proyecto presentado en la SECIHTI:</div>
       <div class="ms-2">
         <% if  @estancia.proyecto_c.attached?  %> 
                <%= link_to "Ver archivo", rails_blob_path( @estancia.proyecto_c, disposition: "attachment") %>  
         <% end %>
       </div>
    </div>

    <div class="col-8">
       <div class="fw-bold">Notas:</div>
       <div class="ms-2"><%= @estancia.notas %></div>
    </div>

</div>

<div class="row p-3">
    

    <div class="col-4">
       <div class="fw-bold">Académico responsable:</div>
       <div class="ms-2">
         <%= nombre_com  Persona.find(@estancia.responsable) %> 
       </div>
    </div>
  
    <div class="col-4">
       <div class="fw-bold">Red académica:</div>
       <div class="ms-2">
         <%= Persona.find(@estancia.responsable).red.nomred %> 
       </div>
    </div>

 </div>