<%= render 'flash/mess' %> 
 



<div class="row p-3">
    <div class="col-4">
       <div class="fw-bold">Número de CVU:</div>
       <div class="ms-2"><%= @estancia.externo.cvu  %></div>
    </div>   

    <div class="col-4">
       <div class="fw-bold">Nombre:</div>
       <div class="ms-2"><%= nombre_com @estancia.externo.persona %></div>
    </div>  

    <div class="col-4">
       <div class="fw-bold">Título del proyecto:</div>
       <div class="ms-2"><%= @estancia.titulo %></div>
    </div>  
</div>

<div class="row p-3">
    <div class="col-4">
       <div class="fw-bold">Fecha de inicio:</div>
       <div class="ms-2"><%= @estancia.finicio.strftime("%d-%m-%Y") %></div>
    </div> 

    <div class="col-4">
       <div class="fw-bold">Fecha de termino:</div>
       <div class="ms-2"><%= @estancia.ftermino.strftime("%d-%m-%Y") %></div>
    </div> 

    <div class="col-4">
       <div class="fw-bold">Temática:</div>
       <div class="ms-2"><%= @estancia.tematica %></div>
    </div>
</div>

<div class="row p-3">
    <div class="col-4">
       <div class="fw-bold">Modalidad:</div>
       <div class="ms-2"><%= @estancia.modalidad.nommodal %></div>
    </div>

    <div class="col-4">
       <div class="fw-bold">Notas:</div>
       <div class="ms-2"><%= @estancia.notas %></div>
    </div>

    <div class="col-4">
       <div class="fw-bold">Convenio firmado:</div>
       <div class="ms-2">
           <% if  @estancia.conveniofirm.attached?  %> 
                <%= link_to "Ver archivo", rails_blob_path( @estancia.conveniofirm, disposition: "attachment") %>  
           <% end %>
       </div>
    </div>
</div>

<div class="row p-3">
    <div class="col-4">
       <div class="fw-bold">Carta de aceptación:</div>
       <div class="ms-2">
         <% if  @estancia.cartaacepta.attached?  %> 
                <%= link_to "Ver archivo", rails_blob_path( @estancia.cartaacepta, disposition: "attachment") %>  
         <% end %>
       </div>
    </div>
 </div>